@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.blinking-cursor {
  color: rgb(255, 16, 16);
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  } 50% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}